@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.product-grid {
  @apply grid gap-y-4 
         sm:grid-cols-3 sm:gap-x-3 sm:gap-y-3 
         md:grid-cols-4 md:gap-y-4 md:gap-x-4 
         lg:grid-cols-5 lg:gap-x-6 lg:gap-y-6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
